@using Undye.Web.Models
@model PetitionViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-8">
        <div></div>
        <div class="jumbotron">
            <h1>#idontdye</h1>
            <p class="lead">Antal underskrifter <span class="badge">@Html.DisplayFor(model => model.Petitions)</span></p>
            <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
        <h2>Visste du att</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus scelerisque urna, quis pretium risus auctor vel. Aliquam blandit erat ut ex volutpat lacinia. Praesent pulvinar leo tempus risus volutpat pulvinar. Nulla facilisi. Nullam interdum sed orci sed iaculis. Aliquam erat volutpat. Morbi venenatis mauris vitae ex ornare, vitae ornare turpis sodales. Nunc fringilla nisi sem, vitae consequat tortor condimentum ac. Maecenas finibus dui faucibus aliquet euismod. Sed hendrerit pellentesque nibh, nec vehicula odio pellentesque ac. In ultrices lorem vitae tellus tincidunt gravida quis ut elit. Cras laoreet pulvinar arcu, id interdum justo commodo ac. Sed mollis nunc ac dolor tristique bibendum. Nunc ac euismod augue, nec auctor lacus. Fusce auctor pellentesque est vitae molestie.</p>
        <p>Nullam ultricies mauris id est luctus, nec imperdiet arcu pellentesque. Nunc quis blandit tortor. Vestibulum posuere, elit quis tempor posuere, leo diam ultricies nibh, eu sollicitudin erat purus quis urna. Sed sit amet ex sit amet risus hendrerit posuere. Duis id magna ante. Nullam eget pellentesque magna, et rutrum dui. Integer eget tempus enim. Morbi nec tellus feugiat, ornare nunc vel, faucibus justo.</p>
        <h2>Vidare så</h2>
        <p>Vivamus malesuada in ligula consectetur sagittis. Praesent ac metus ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi dapibus odio a nibh vulputate, quis rhoncus velit pharetra. Duis ante arcu, imperdiet et odio non, varius cursus felis. Morbi sagittis sem eu facilisis fermentum. Pellentesque blandit molestie magna, sed aliquam ipsum tincidunt nec. Quisque eget fringilla metus. Aliquam ut lacinia est, sit amet mollis turpis.</p>
        <p>Cras porttitor velit vitae feugiat bibendum. Donec fringilla eleifend augue ut suscipit. Proin tortor ipsum, elementum vel elit et, luctus molestie elit. Duis at diam vel sem faucibus tincidunt id et massa. Phasellus sagittis commodo mollis. Nulla id leo sagittis, blandit nisi eu, tincidunt magna. Proin at ultricies metus, eget porta lacus. Suspendisse id commodo odio. Vivamus egestas cursus nisi, nec dictum turpis vulputate vel. Aenean ligula lectus, porttitor a lobortis sit amet, luctus et mi. Ut sagittis magna tortor, vehicula scelerisque enim semper in.</p>
        <h2>Men inte bara det</h2>
        <p>Donec tincidunt gravida ex, nec porttitor ipsum convallis nec. In in erat posuere, vulputate sem sed, venenatis magna. Cras scelerisque dolor sit amet finibus scelerisque. In consectetur gravida lacus, placerat convallis magna. Nunc at elit quis ex facilisis efficitur. Duis imperdiet aliquam rhoncus. Quisque ac ultricies magna. Aenean sed efficitur massa. Phasellus pretium elit non consequat tincidunt. Sed non felis vitae massa accumsan sagittis. Cras at congue ligula, nec gravida justo. Ut eu convallis ante, interdum placerat lacus.</p>
        <h2>Ibland kan det vara</h2>
        <p>Vivamus malesuada in ligula consectetur sagittis. Praesent ac metus ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi dapibus odio a nibh vulputate, quis rhoncus velit pharetra. Duis ante arcu, imperdiet et odio non, varius cursus felis. Morbi sagittis sem eu facilisis fermentum. Pellentesque blandit molestie magna, sed aliquam ipsum tincidunt nec. Quisque eget fringilla metus. Aliquam ut lacinia est, sit amet mollis turpis.</p>
        <p>Cras porttitor velit vitae feugiat bibendum. Donec fringilla eleifend augue ut suscipit. Proin tortor ipsum, elementum vel elit et, luctus molestie elit. Duis at diam vel sem faucibus tincidunt id et massa. Phasellus sagittis commodo mollis. Nulla id leo sagittis, blandit nisi eu, tincidunt magna. Proin at ultricies metus, eget porta lacus. Suspendisse id commodo odio. Vivamus egestas cursus nisi, nec dictum turpis vulputate vel. Aenean ligula lectus, porttitor a lobortis sit amet, luctus et mi. Ut sagittis magna tortor, vehicula scelerisque enim semper in.</p>
        <h2>Men även på så sätt</h2>
        <p>Donec tincidunt gravida ex, nec porttitor ipsum convallis nec. In in erat posuere, vulputate sem sed, venenatis magna. Cras scelerisque dolor sit amet finibus scelerisque. In consectetur gravida lacus, placerat convallis magna. Nunc at elit quis ex facilisis efficitur. Duis imperdiet aliquam rhoncus. Quisque ac ultricies magna. Aenean sed efficitur massa. Phasellus pretium elit non consequat tincidunt. Sed non felis vitae massa accumsan sagittis. Cras at congue ligula, nec gravida justo. Ut eu convallis ante, interdum placerat lacus.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div data-spy="affix" data-offset-top="0" data-offset-bottom="200">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Sign", "Petition"))
                {
                    @Html.AntiForgeryToken()

                    <h4>Ta ställning</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="checkbox">
                        <label>
                            @Html.EditorFor(model => model.Signed) Skriv under
                            @Html.ValidationMessageFor(model => model.Signed, "", new { @class = "text-danger" })
                        </label>
                    </div>

                    <input type="submit" value="Save" class="btn btn-default" />
                }
            }
            else
            {
                <p>Genom att logga in får du möjlighet att själv ta ställning. Morbi venenatis mauris vitae ex ornare, vitae ornare turpis sodales. Nunc fringilla nisi sem, vitae consequat tortor condimentum ac. Maecenas finibus dui faucibus aliquet euismod. Sed hendrerit pellentesque nibh, nec vehicula odio pellentesque ac. In ultrices lorem vitae tellus tincidunt gravida quis ut elit. Cras laoreet pulvinar arcu, id interdum justo commodo ac. Sed mollis nunc ac dolor tristique bibendum. Nunc ac euismod augue, nec auctor lacus. Fusce auctor pellentesque est vitae molestie.</p>
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel())
                </section>
                @Html.ActionLink("eller med ditt användarnam och lösenord", "Login", "Account")
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
