@using Undye.Web.Models

@model Undye.Web.Models.SignPetitionViewModel

<div data-spy="affix" data-offset-top="0" data-offset-bottom="0">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Sign", "Petition"))
        {
            @Html.AntiForgeryToken()

            <h4>Ta ställning</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="checkbox">
                <label>
                    @Html.EditorFor(model => model.Signed) Skriv under
                    @Html.ValidationMessageFor(model => model.Signed, "", new { @class = "text-danger" })
                </label>
            </div>

            <input type="submit" value="Save" class="btn btn-default" />
        }
    }
    else
    {
        <p>Genom att logga in får du möjlighet att själv ta ställning. Morbi venenatis mauris vitae ex ornare, vitae ornare turpis sodales. Nunc fringilla nisi sem, vitae consequat tortor condimentum ac. Maecenas finibus dui faucibus aliquet euismod. Sed hendrerit pellentesque nibh, nec vehicula odio pellentesque ac. In ultrices lorem vitae tellus tincidunt gravida quis ut elit. Cras laoreet pulvinar arcu, id interdum justo commodo ac. Sed mollis nunc ac dolor tristique bibendum. Nunc ac euismod augue, nec auctor lacus. Fusce auctor pellentesque est vitae molestie.</p>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel())
        </section>
        @Html.ActionLink("eller med ditt användarnam och lösenord", "Login", "Account")
    }
</div>